.fixed-width {
  width: 90px;
}

.table-design td,
.table-design th {
  padding: 0 0.25rem;
  border-right: 1px solid #e0e0e0;
}
.table-fixed-ml {
  width: 100%;
}

.table-fixed-ml tbody th {
  min-width: 200px;
}

/* @media (min-width: 1109px) {
  .tbth-min-w236-ml tbody th {
    min-width: 226px;
  }

  .ttdh-w108-ml td,
  .ttdh-w108-ml th {
    /* min-width: 108px; *
    width: 98px;
  }

  .ml128-ml {
    margin-left: 128px;
  }

  .table-fixed-ml {
    table-layout: fixed;
    width: auto;
  }
} */
