/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
  font-size: 14px;
}
/* body {
  font-family: 'Space Mono', monospace;
}
h1,
h2,
h3,
h4 {
  font-family: 'Press Start 2P';
} */
code {
  font-family: 'Space Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

/* removing cursors */
html {
  cursor: auto;
}

a,
button {
  cursor: pointer;
}

/* https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939 */
.nes-pointer {
  cursor: pointer;
}

.nes-btn {
  cursor: pointer;
}

.nes-radio + span {
  cursor: pointer;
}
.nes-checkbox + span {
  cursor: pointer;
}
.nes-select select {
  cursor: pointer;
}

.nes-container.pr0 {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.nes-container.pr0 > :not(.title) {
  padding-left: 2rem;
}

.min-w5 {
  min-width: 16rem;
}

.mw8-ml {
  max-width: 64rem;
}

@media (min-width: 1109px) {
  .mw8-ml {
    max-width: 1109px;
  }
}
